@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{ 
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.item{
  position: relative;
  border-radius: 7px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  overflow: hidden;
}
.detail{
  position: absolute;
  bottom: -177px;
  left: 0;
  background-color: #f8f8f8;
  width: 100%;
  height: 250px;
  padding: 10px 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
.item:hover .detail{bottom: 0;}

.item img{transition: 0.5s;}
.item:hover img{filter: blur(2px);}

.title{
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
.title h2{
  font-weight: normal;
  color: #888;
  float: left;
  font-size: 16px;
  margin: 10px 0;
}
.title h2 em{
  font-style: normal;
  display: block;
  font-size: 20px;
  color: #000;
  margin-bottom: 5px;
}
.title .price{
  float: right;
  color: crimson;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}

.info{position: relative;}

strong{
  display: block;
  text-transform: capitalize;
  font-weight: normal;
  margin: 10px 0;
}
.size input[name=size]{display: none;}
.size input[name=size] + span{
  font-size: 13px;
  color: #666;
  padding: 0 2px;
  transition: 0.5s;
}
.size input[name=size]:checked + span{
  background-color: #000;
  color: #fff;
  width: 5px;
  height: 5px;
  border-radius: 2px;
}

.color input[name=color]{display: none;}
.color input[name=color] + span{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  transition: 0.5s;
}
.color input[name=color]:checked + span{
  border-radius: 50%;
}
.color1{background-color: goldenrod;}
.color2{background-color: yellowgreen;}
.color3{background-color: crimson;}
.color4{background-color: royalblue;}
.color5{background-color: purple;}

.like input[name=like]{display: none;}
.like input[name=like] + span:before{
  content: '\f08a';
  font-family: fontawesome;
  color: #bbb;
  position: absolute;
  right: 0;
  top: 0;
}
.like input[name=like]:checked + span:before{
  content:"\f004";
  color: crimson;
}

.add-cart{
  border: 1px solid #ddd;
  width: 100%;
  padding: 7px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 10px;
  outline: none;
}
.add-cart:hover {
  background-color: #000;
  color: #fff;
}